.wrapper {
    width: 80%;
    height: 100%;
    max-width: 1000px;
    background-color: $theme-cream;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

section {
    margin-bottom: 60px;
}
